body{
    background-color: white;
}
.navbar{
    background-color: whitesmoke;
}
.card-link{
    text-decoration: none;
}
.card{
    border: none !important;
    margin-bottom:2rem;
}
.card-text{
    color: black;
}
.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: black;
}
.review-card
{
    border: 1px solid black;
    border-radius: 20px;
}
#map
{
   width: 500px;
   height: 400px;
}